<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required only if your app needs to access images or photos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- If your app doesn't need to access media files that other apps created,
    set the "maxSdkVersion" attribute to "28" instead. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="UniqueIdTest">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrepareActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>